@import "https://static.miz-ar.info/fonts/FiraCode/fira_code.css";
code.code-lig {
  font-family: "Fira Code";
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
/* https://github.com/jgm/highlighting-kate/blob/master/Text/Highlighting/Kate/Format/HTML.hs */
.sourceCode {
    font-family: "Fira Code";
}
/* keyword */
.sourceCode span.kw { color: #007020; font-weight: bold; }
/* datatype */
.sourceCode span.dt { color: #902000; }
/* decval */
.sourceCode span.dv { color: #40a070; }
/* baseN */
.sourceCode span.bn { color: #40a070; }
/* float */
.sourceCode span.fl { color: #40a070; }
/* Char */
.sourceCode span.ch { color: #4070a0; }
/* String */
.sourceCode span.st { color: #4070a0; }
/* Comment */
.sourceCode span.co { color: #60a0b0; font-style: italic; }
/* Other */
.sourceCode span.ot { color: #007020;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
}
/* Alert */
.sourceCode span.al { color: red; font-weight: bold; }
/* Function */
.sourceCode span.fu { color: #06287e; }
/* RegionMarker */
.sourceCode span.re { }
/* Error */
.sourceCode span.er { color: red; font-weight: bold; }

div.theorem {
  background-color: #fffffc;
  border: 1px solid #bbbbff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
div.theorem > p:first-child {
  margin-top: 0;
}
div.theorem > p:last-child {
  margin-bottom: 0;
}
/*
div.theorem > p:first-child::before {
  content: "定理．";
  font-weight: bold;
}
*/

div.proof {
  background-color: #fffffc;
  border: 1px solid #bbbbff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
div.proof > p:first-child {
  margin-top: 0;
}
div.proof > p:last-child {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}
thead > tr > td, thead > tr > th {
  border-bottom: 1px solid #888;
}
td, th {
  border: 1px solid #ccc;
  min-width: 1.8em;
}

.share-button-container {
  line-height: 20px;
}
.share-button-container > * {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
}

.feed-button {
  padding: 0 4px 0 20px;
  text-decoration: none;
  color: white;
  background-color: #bb0;
  background-image: url("../images/feed-icon.png");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 11px;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 3px;
  height: 20px;
}

pre {
  background-color: #fcffff;
  border-left: 2px solid #0cc;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: pre-wrap;
}
