<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta property="og:url" content="https://miz-ar.info/math/algebraic-real/$url$" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="週刊 代数的実数を作る - $title$" />
        <meta property="og:locale" content="ja_JP" />
        $if(publish)$
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101915407-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-101915407-1');
        </script>
        $endif$
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>週刊 代数的実数を作る - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        $if(use-katex)$<link rel="stylesheet" href="$katex-css$" />
        <script src="$katex-js$"></script>$endif$
        <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {t._e.push(f);};
            return t;
            }(document, "script", "twitter-wjs"));</script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10&appId=1995788050696931';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div id="header">
            <div id="logo">
                <a href="/">週刊 代数的実数を作る</a>
            </div>
            <div id="navigation">
                <a href="/">目次</a>
                <a href="https://blog.miz-ar.info/">著者のブログ</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            <div class="share-button-container">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=mod_poppo">Tweet</a>
                <div class="fb-share-button" data-href="https://miz-ar.info/math/algebraic-real/$url$" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiz-ar.info%2Fmath%2Falgebraic-real%2F&amp;src=sdkpreparse">シェア</a></div>
                <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </div>
            $body$
        </div>

        <div id="footer">
            Site proudly generated by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>

        $if(use-katex)$<script>
            for (let e of document.getElementsByClassName("math")) {
                katex.default.render(e.firstChild.data, e, {displayMode: e.classList.contains("display")});
            }
        </script>$endif$
    </body>
</html>
